---
---

@import anchor

body > header, article, body > footer
  padding: 1.5em calc(27.5% - 5rem)

article, body > footer
  border-top: 1px solid reduce(10)

body > header
  background: #262626
  color: #fff

body > footer
  background: reduce(5)
  color: reduce(100)

body > footer.darker
  background: reduce(15)
  color: #666
  a
    color: $link-color

article > p > a > img
    border: 1px solid rgba(0, 0, 0, 0.17)
    padding: 5px
    border-radius: 5px
    margin: 40px auto
    display: block
    box-shadow: 2px 2px 6px #0000001A
